@font-face {
    src: url('fonts/Comfortaa-Bold.ttf');
}

.root {
    -fx-background-color: #202030;
}


.label {
    -fx-font-family: 'Comfortaa';
    -fx-text-fill: #b99ae5;
}

.button {
    -fx-background-color: #3b3b55;
    -fx-text-fill: #b99ae5;
}

.button:hover {
    -fx-background-color: #4d4d6e;
}

.text-field {
    -fx-background-color: #303045;
    -fx-text-fill: #b99ae5;
}

.table-view .column-header .label {
    -fx-background-color: #4d4d6e;
}

.table-row-cell {
   -fx-background-color: transparent;
}