@font-face {
    font-family: 'Comfortaa';
    src: url('fonts/Comfortaa-Bold.ttf');
}

.root {
    -fx-background-color: #202030;
}


.label {
    -fx-font-family: 'Comfortaa';
    -fx-font-size: 20;
    -fx-text-fill: #b99ae5;
}

.text {
    -fx-font-family: 'Comfortaa';
}

.button {
    -fx-background-color: #303045;
    -fx-text-fill: #b99ae5;
}

.button:hover {
    -fx-background-color: #3a3a53;
}